In [1]:
import pandas as pd
import numpy as np

# 2009-2010 ASSISTment Data

In [2]:
data = pd.read_csv('data/skill_builder_data.csv',encoding='unicode_escape')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.shape

(525535, 30)

In [4]:
(np.sum(data.isna())*100/len(data)).sort_values()

assignment_id            0.000000
user_id                  0.000000
assistment_id            0.000000
problem_id               0.000000
order_id                 0.000190
template_id              0.000190
overlap_time             0.000190
hint_total               0.000190
hint_count               0.000190
school_id                0.000190
teacher_id               0.000190
base_sequence_id         0.000190
position                 0.000190
type                     0.000190
sequence_id              0.000190
answer_type              0.000190
tutor_mode               0.000190
ms_first_response        0.000190
attempt_count            0.000190
correct                  0.000190
original                 0.000190
student_class_id         0.000190
opportunity              0.000381
first_action             0.000381
skill_id                12.620853
opportunity_original    14.521583
skill_name              14.973503
answer_text             18.035906
bottom_hint             84.795304
answer_id               90.737439
dtype: float64

In [5]:
# Remove NaN row in order_id and first_action

data = data[(~data['order_id'].isna())&(~data['first_action'].isna())]

In [6]:
(np.sum(data.isna())*100/len(data)).sort_values()

order_id                 0.000000
first_action             0.000000
template_id              0.000000
overlap_time             0.000000
hint_total               0.000000
hint_count               0.000000
school_id                0.000000
teacher_id               0.000000
base_sequence_id         0.000000
opportunity              0.000000
position                 0.000000
student_class_id         0.000000
type                     0.000000
answer_type              0.000000
assignment_id            0.000000
user_id                  0.000000
assistment_id            0.000000
sequence_id              0.000000
original                 0.000000
problem_id               0.000000
attempt_count            0.000000
ms_first_response        0.000000
tutor_mode               0.000000
correct                  0.000000
skill_id                12.620711
opportunity_original    14.521257
skill_name              14.973370
answer_text             18.035785
bottom_hint             84.795246
answer_id               90.737404
dtype: float64

## Group skill name based on "Dynamic Key-Value Memory Networks for Knowledge Tracing" paper using t-SNE

In [7]:
groups = {'group1': ['Scatter Plot',
                      'Multiplication and Division Integers',
                      'Absolute Value',
                      'Subtraction Whole Numbers',
                      'Ordering Fractions',
                      'Ordering Integers',
                      'Ordering Positive Decimals',
                      'Pattern Finding',
                      'Write Linear Equation from Situation',
                      'Square Root',
                      'Algebraic Solving',
                      'Congruence',
                      'Estimation',
                      'Ordering Real Numbers',
                      'Multiplication and Division Positive Decimals', 
                      'Area Rectangle',
                      'Choose an Equation from Given Information',
                      'Intercept',
                      'Linear Equations',
                      'Slope',
                      'Distributive Property',
                      'Finding Slope From Equation'],
            'group2': ['Addition and Subtraction Integers',
                      'Conversion of Fraction Decimals Percents',
                      'Pythagorean Theorem',
                      'Perimeter of a Polygon',
                      'Angles on Parallel Lines Cut by a Transversal',
                      'Midpoint'],
            'group3': ['Area Trapezoid',
                      'Histogram as Table or Graph',
                      'Percent Discount',
                      'Interior Angles Triangle',
                      'Surface Area Rectangular Prism',
                      'Percents',
                      'Area Circle',
                      'Least Common Multiple',
                      'Prime Number',
                      'Computation with Real Numbers',
                      'Rate',
                      'Surface Area Cylinder',
                      'Solving Systems of Linear Equations',
                      'Solving Systems of Linear Equations by Graphing',
                      'Interpreting Coordinate Graphs',
                      'Recognize Quadratic Pattern',
                      'Quadratic Formula to Solve Quadratic Equation'],
            'group4': ['Addition and Subtraction Positive Decimals',
                      'Equation Solving Two or Fewer Steps',
                      'Unit Rate',
                      'Order of Operations All',
                      'Complementary and Supplementary Angles', 
                      'Exponents',
                      'Unit Conversion Within a System',
                      'Greatest Common Factor',
                      'Multiplication Whole Numbers', 
                      'Reflection'],
            'group5': ['Probability of Two Distinct Events',
                      'Table',
                      'Median',
                      'Stem and Leaf Plot',
                      'Mode',
                      'Mean',
                      'Range',
                      'Venn Diagram',
                      'Circle Graph',
                      'Equivalent Fractions',
                      'Proportion',
                      'Fraction Of',
                      'Probability of a Single Event',
                      'Addition Whole Numbers',
                      'Counting Methods',
                      'Box and Whisker',
                      'Percent Of',
                      'Volume Rectangular Prism',
                      'Finding Percents',
                      'Understanding Concept Of Probabilities'],
            'group6': ['Multiplication Fractions',
                      'Order of Operations +,-,/,* () positive reals',
                      'Rounding',
                      'Division Fractions',
                      'Scale Factor',
                      'Finding Slope From Situation',
                      'Parts of a Polyomial, Coefficient, Exponent'],
            'group7': ['Addition and Subtraction Fractions',
                      'Calculations with Similar Figures',
                      'Interior Angles Figures with More than 3 Sides',
                      'Solving for a variable',
                      'Number Line',
                      'Solving Inequalities',
                      'Effect of Changing Dimensions of a Shape',
                      'Finding Slope from Ordered Pairs'],
            'group8': ['Area Irregular Figure',
                      'Nets of 3D Figures',
                      'Scientific Notation',
                      'Area Parallelogram',
                      'Volume Cylinder',
                      'Rotations',
                      'Translations',
                      'Angles - Obtuse, Acute, and Right',
                      'Recognize Linear Pattern'],
            'group9': ['Circumference',
                      'Equation Solving More Than Two Steps',
                      'Volume Sphere',
                      'Area Triangle',
                      'Polynomial Factors',
                      'Simplifying Expressions positive exponents'],
            'group10': ['Algebraic Simplification',
                       'Divisibility Rules',
                       'Reading a Ruler or Scale',
                       'Write Linear Equation from Graph',
                       'Write Linear Equation from Ordered Pairs']
            }

In [8]:
def get_groups(skill_nm):
    for k,v in groups.items():
        if skill_nm in v:
            return k
        
def get_attempt(x):
    if x>5:
        return '>5'
    elif x>2:
        return '3-5'
    else:
        return str(int(x))

In [9]:
data['skill_group'] = data['skill_name'].apply(lambda x:get_groups(x))
data['attempt'] = data['attempt_count'].apply(lambda x:get_attempt(x))

In [10]:
# Feel free to add more

features = ['correct', 'skill_group', 'ms_first_response', 'attempt', 'first_action']

In [11]:
pd.get_dummies(data[features])

,correct,ms_first_response,first_action,skill_group_group1,skill_group_group10,skill_group_group2,skill_group_group3,skill_group_group4,skill_group_group5,skill_group_group6,skill_group_group7,skill_group_group8,skill_group_group9,attempt_0,attempt_1,attempt_2,attempt_3-5,attempt_>5
0,1.0,32454.0,0.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1,1.0,4922.0,0.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
2,0.0,25390.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,1.0,4859.0,0.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
4,0.0,19813.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525530,1.0,38234.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
525531,1.0,6500.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
525532,1.0,18344.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
525533,1.0,12922.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
525534,0.0,36047.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [12]:
data[['user_id', 'order_id', 'problem_id']].sort_values(by=['user_id','order_id', 'problem_id'])

        user_id    order_id  problem_id
3957         14  21617623.0       93383
94047        14  21617623.0       93383
172411       14  21617623.0       93383
3958         14  21617632.0       93407
94048        14  21617632.0       93407
...         ...         ...         ...
157250    96299  38214250.0       49290
157251    96299  38214251.0       49284
157252    96299  38214252.0       49276
397274    96299  38214256.0       51180
98650     96299  38214257.0       75679

[525533 rows x 3 columns]

In [13]:
#each problem_id/order_id can have multiple skill_id/skill_name

data[data['user_id']==14].sort_values(by=['user_id','order_id', 'problem_id']).T

,3957,94047,172411,3958,94048,172412,3959,94049,172413,3960,...,211778,459213,459214,47599,55308,55309,47600,55310,47601,47602
order_id,2.16176e+07,2.16176e+07,2.16176e+07,2.16176e+07,2.16176e+07,2.16176e+07,2.16176e+07,2.16176e+07,2.16176e+07,2.16176e+07,...,2.16178e+07,2.16178e+07,2.16178e+07,2.16179e+07,2.16179e+07,2.16179e+07,2.16179e+07,2.16179e+07,2.1618e+07,2.1618e+07
assignment_id,263599,263599,263599,263599,263599,263599,263599,263599,263599,263599,...,263600,263600,263600,263601,263601,263601,263601,263601,263601,263601
user_id,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
assistment_id,53412,53412,53412,53436,53436,53436,53429,53429,53429,53448,...,37068,37068,37068,52193,52710,52699,51820,52681,51800,51803
problem_id,93383,93383,93383,93407,93407,93407,93400,93400,93400,93419,...,58551,58552,58553,91522,92390,92379,91144,92361,91124,91127
original,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,1,1,1,1,1
correct,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
attempt_count,1,1,1,1,1,1,1,1,1,1,...,0,4,1,1,1,1,1,1,1,1
ms_first_response,26271,26271,26271,29123,29123,29123,13779,13779,13779,16901,...,27225,2725,7341,9236,11635,11012,3426,11417,11915,2212
tutor_mode,tutor,tutor,tutor,tutor,tutor,tutor,tutor,tutor,tutor,tutor,...,tutor,tutor,tutor,tutor,tutor,tutor,tutor,tutor,tutor,tutor
answer_type,algebra,algebra,algebra,algebra,algebra,algebra,algebra,algebra,algebra,algebra,...,algebra,choose_1,algebra,algebra,algebra,algebra,algebra,algebra,algebra,algebra
sequence_id,7118,7118,7118,7118,7118,7118,7118,7118,7118,7118,...,5916,5916,5916,7035,7035,7035,7035,7035,7035,7035
student_class_id,12495,12495,12495,12495,12495,12495,12495,12495,12495,12495,...,12495,12495,12495,12495,12495,12495,12495,12495,12495,12495
position,1,1,1,1,1,1,1,1,1,1,...,2,2,2,3,3,3,3,3,3,3
type,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,...,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection,MasterySection
base_sequence_id,7118,7118,7118,7118,7118,7118,7118,7118,7118,7118,...,5916,5916,5916,7035,7035,7035,7035,7035,7035,7035
skill_id,2,37,70,2,37,70,2,37,70,2,...,77,NaN,NaN,13,15,15,13,15,13,13
skill_name,Circle Graph,NaN,Percent Of,Circle Graph,NaN,Percent Of,Circle Graph,NaN,Percent Of,Circle Graph,...,Finding Percents,NaN,NaN,Median,Range,Range,Median,Range,Median,Median
teacher_id,42972,42972,42972,42972,42972,42972,42972,42972,42972,42972,...,42972,42972,42972,42972,42972,42972,42972,42972,42972,42972
school_id,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
hint_count,2,2,2,0,0,0,2,2,2,2,...,0,0,4,2,0,0,3,0,2,3
hint_total,2,2,2,2,2,2,2,2,2,2,...,0,3,4,2,3,3,3,3,2,3
overlap_time,41131,41131,41131,29123,29123,29123,19905,19905,19905,22600,...,27225,11490,13458,13815,11635,11012,8722,11417,21042,7398
template_id,52570,52570,52570,52570,52570,52570,52570,52570,52570,52570,...,30790,30790,30790,50196,52445,52445,50237,52445,50196,50237
answer_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,88155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
answer_text,NaN,NaN,NaN,82.8,82.8,82.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,135,135,NaN,130,NaN,NaN
first_action,1,1,1,0,0,0,1,1,1,1,...,2,0,1,1,0,0,1,0,1,1
bottom_hint,1,1,1,NaN,NaN,NaN,1,1,1,1,...,NaN,NaN,1,1,NaN,NaN,1,NaN,1,1
opportunity,1,1,1,2,2,2,3,3,3,4,...,2,5,6,1,1,2,2,3,3,4
opportunity_original,1,1,1,2,2,2,3,3,3,4,...,2,NaN,NaN,1,1,2,2,3,3,4
skill_group,group5,None,group5,group5,None,group5,group5,None,group5,group5,...,group5,None,None,group5,group5,group5,group5,group5,group5,group5
attempt,1,1,1,1,1,1,1,1,1,1,...,0,3-5,1,1,1,1,1,1,1,1